#header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    font-size: large;
    z-index: 999;
    padding-left: 15%;
    padding-right: 15%;
}

#header-opacity-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    font-size: large;
    z-index: 999;
    padding-left: 15%;
    padding-right: 15%;
    transition: .5s;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#logo {
    height: 8vh;
    width: auto;
    padding-top: 1vh;
    transition: .2s;
}

#logo:hover {
    transform: scale(1.1);
}

.headers:hover {
    color: rgb(206,177,114);
}

@media only screen and (max-width: 769px) {

    #header-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        font-size: small;
    }

    #header-opacity-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        font-size: small;
    }

    #logo {
        height: 5vh;
    }
}