#footer-container {
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 7vh;
    font-size: large;
    padding-left: 25%;
    padding-right: 25%;
}

.footer-content:hover {
    color: rgb(206,177,114);
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    #footer-container {
        display: none;
    }
}